#topnav {
  background-color: white;
  padding: 10;
  padding-left: 25;
  margin: 0;
  height: 60;
  width: 100%;
  margin-left: 300px;
  margin-top: 30px;
}

#header{
  border-bottom: solid 1px #e6e6e6;
}


a {
  color: #2D1340;
  text-decoration: none;
}



.topnavItem{
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  padding: 15;
  font-size: 14;
  width: 10%;
}


.topnavItem:hover{
  background-color:#ffcc00;
  font-style: italic;
  cursor: pointer;
  color: red;
}

.menuButton{
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  padding:15;
  font-size: 14;
  width: 10%;

}


.menuButton:hover{
  background-color:#ffcc00;
  font-style: italic;
  cursor: pointer;
}

.mainTitle{
  font-size: 20px;
  padding-right: 700px;

}


.welcomeImage{
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.welcomeImage:hover{
  opacity: 0.3;
  transform: scale(0.9);
}

.imageTable {
  width: 100%;
}


.informationtext {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.infotext-background {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cars:hover .infotext-background{
  opacity: 1;
}


.subtitle{
  text-align: center;
}

.greybox{
  background-color: #c9c4c3;
}

.greybox-contact{
  background-color: #c9c4c3;
}

.greybox-form{
  background-color: #a7d2d3;
  border-top: solid 1px #b29d00;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}



.faceimg{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 40px;
  opacity: 1;
  backface-visibility: hidden;
}

.faceimg:hover{
  color: #33ccff;
  opacity: 0.3;
  cursor: pointer;
}

.youtubeimg{
  width: 55px;
  opacity: 1;
  backface-visibility: hidden;
}

.youtubeimg:hover{
  color:red;
  opacity: 0.3;
  cursor: pointer;
}

.ipsum{
  font-size: 20px;
  font-family: "Courier New", Helvetica, sans-serif;
}

.story{
  font-size: 22px;
}

.contactTable{
  text-align: left;
  width: 100%;
  margin-left: 25px;
}

.contactTable th{
  width: 100%;
}

.contactTable img{
  position: relative;
  bottom:20px;
  padding-left: 15px;
}

.contactTable .youtubeimg{
  bottom: 19px;
}


.contactTable h3:hover{
  color: white;
  cursor: pointer;
}

.formTable{
  border: 3px solid #f4e842;
  padding: 8px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  text-align: center;
}

.formTable td{
  border: 1px solid #ffffff;
  padding: 8px;

}

.container table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.container table td{
  border: 1px solid #ddd;
  padding: 8px;

}

.container table th{
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 8px;
  text-align: left;
  background-color: #cc99ff;
  color: white;
}

.container table tr:hover{
  background-color:#ffffcc;
}

.container table tr:nth-child(even){background-color: #f2f2f2;}
.container table tr:nth-child(even):hover{background-color: #ffffcc;}

.banner table td {
  padding: 10px;
  width: 10%;
}

.banner img{
  width: 35%;
}
.banner table{
  border-collapse: separate;
  border-spacing: 50px 0;
}


.submit-button{
  background-color: #008CBA;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-button:hover{
  background-color: #c9890a;
  cursor: pointer;
}
